body{
    background-color: #f2f5E9;
    font-family: '微软雅黑';
}
#header{width: 980px;margin: 0 auto;}
/*文字过长隐藏*/
.textHidden{white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
span.default{color: #c0c0c0;position: absolute;margin-top: 30px;margin-left: 10px;}
.log_frm{margin: 0 auto;width:316px;}
.reg_frm {margin: 0 auto;}
.reg_frm .subbtn{width: 200px;height: 42px;cursor: pointer;
    background:#62af56;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);}
.reg_frm .subbtn:active{background:#62af56;}
.reg_frm .note{position: absolute;margin-left: -100px;margin-top: -13px;visibility: hidden;}
.item{float:left;text-align:right;color:#666; padding-right:10px; font-size:12px; padding-top:33px; _padding-top:35px }
.clearfix:after{visibility: hidden;display:block;z-index:2;font-size: 0;content: " ";clear: both;height: 0;overflow:hidden;text-align: center;padding-left: 5px;}
.font12{font-size: 12px;}.font13{font-size: 13px;}.font14{font-size: 14px;}.font15{font-size: 15px;}.font16{font-size: 16px;}
.w100{width: 100px;}
.w200{width: 200px;}
.w300{width: 300px;}
.w400{width: 400px;}
.w450{width: 450px;}
.w500{width: 500px;}
.w600{width: 600px;}

.fl{float: left}.fr{float: right}

#menu .tableList {border: 1px;background: url("../img/MyTime.png") no-repeat;width: 202px;height: 73px;margin: 0 auto;margin-top: 75px;}

.container {margin: 0 auto;width: 980px;text-align: center;height: 400px;}
.container input {border: 1px solid #aaa;border-radius: 4px;box-shadow: 0 0 3px rgba(0, 0, 0, 0.1) inset;font-size: 18px;height: 30px;padding: 6px 8px; width: 300px;margin-top: 20px;}
.container input:focus {border: 1px solid #3B8230;box-shadow: 0 0 3px #3B8230;}
.container input.dologin {
    background:#62af56;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#76BF6B), to(#3B8230));
    background-image: -webkit-linear-gradient(top, #76BF6B, #3B8230);
    background-image: -moz-linear-gradient(top, #76BF6B, #3B8230);
    border-color: #2d6324;
    color: #fff;
    text-shadow: rgba(0, 0, 0, 0.5) 0px -1px 0px;
    padding: 8px 10px;
    margin-top: 20px;
    cursor: pointer;
    width: 318px;
    height: 38px;
}
.container .tozhuce {width: 318px;color: #999;font-size: 12px;margin: 10px auto;text-align: left;}
.container .tozhuce a{cursor: pointer;color: #999;font-size: 12px;text-decoration: none;}
.container .tozhuce a:hover {color: #009900;text-decoration: underline}
#footer {height: 100px;margin: 0 auto;width: 980px;text-align: center;}
#footer .fot{color: #aaaaaa;font-size: 12px;}